
main {
  margin-top: 80px;
}

.navbar {
  margin: 0;
  background-color: rgba(81, 127, 153, 0.75) !important;
  border-radius: 0 !important;
}

.post-segment {
  display: flex;
  justify-content: center !important;
  margin: 15px !important;
  /* Removes Segment lines */
  /*border: none !important;
  box-shadow: none !important;*/
}

.post-container {
  width: 60% !important;
}

.post-btn-container {
  margin-top: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  display: flex !important;
  /*justify-content: space-around !important;*/
}

.post-btn-container > button {
  margin: 0.5px !important;
  width: 50% !important;
}

.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(81, 127, 153, 0.75) !important;
}

.post {
  width: 100% !important;
  margin-bottom: 0 !important;
}

.page {
  margin-bottom: 16px;
  padding: 8px;
}

.page-content {
  background-color: rgba(135, 135, 135, 0.25) !important;
}

.page-title {
  background-color: rgba(81, 127, 153, 0.75) !important;
}

/* Combine this with .post? */
.card {
  background-color: rgba(135, 135, 135, 0.25) !important;
}

.post-form-container {
  display: flex !important;
  justify-content: center;
  height: 100%;
}

.post-form {
  width: 60%;
}

/* Meta data on footer of post */
.ui.card>.extra, .ui.cards>.card>.extra {
  text-align: right;
}



/*.submit-edit-button {
  background-color: rgb(205, 153, 3) !important;
}*/

/* Needs id because class with !important does not override default */
#toggle-edit-form-btn {
  /*This color is somewhat random and could possibly change */
  color: rgba(103, 120, 134, 0.83) !important;
  box-shadow: rgba(103, 120, 134, 0.83) 0px 0px 0px 1px inset;
}

.logo {
  font-family: 'Chewy', cursive;
  font-size: 25px !important;
}
