/*body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}*/

/*li {
  list-style: none;
  display: inline;
  margin: 8px;
}*/

main {
  margin-top: 80px;
}

.navbar {
  margin: 0;
  background-color: rgba(81, 127, 153, 0.75) !important;
  border-radius: 0 !important;
}

.post {
  border: 1px solid black;
  margin: 3px;
}

.logo {
  font-family: 'Chewy', cursive;
  font-size: 25px !important;
}
