
main {
  margin-top: 80px;
}

.navbar {
  margin: 0;
  background-color: rgba(81, 127, 153, 0.75) !important;
  border-radius: 0 !important;
}

.post {
  /*border: 1px solid black;*/
  margin: 15px !important;
}

.page {
  margin-bottom: 16px;
  padding: 8px;
}

.page-content {
  background-color: rgba(135, 135, 135, 0.25) !important;
}

.page-title {
  background-color: rgba(81, 127, 153, 0.75) !important;
}

.card {
  background-color: rgba(135, 135, 135, 0.25) !important;
}

.post-form-container {
  display: flex !important;
  justify-content: center;
  height: 100%;
}

.post-form {
  width: 60%;
}

.post-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(81, 127, 153, 0.75) !important;
}

.logo {
  font-family: 'Chewy', cursive;
  font-size: 25px !important;
}
